.col1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}
.col2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.eventimg {
  width: 332px;
}
.divide {
  margin-left: 0px;
}
.date {
  border: 2px solid #0e8165;
  height: 20vh;
  font-weight: bold;
  width: 8%;
  align-items: center;
  text-align: center;
  color: #0e8165;
  font-size: 1.4rem;
}
.p {
  width: 50%;
  margin: auto;
}
.event {
  margin-top: 100px;
  height: 145vh;
}
@media (max-width: 965px) {
  .eventimg {
    width: 312px;
  }
  .col1 {
    flex-direction: row;
  }
  .col2 {
    flex-direction: row;
  }
  .event {
    margin-top: 60px;
    height: 85vh;
  }
  .p {
    width: 90%;
  }
  .date {
    height: 17vh;
    font-weight: bold;
    width: 21%;
  }
  .divide {
    margin-left: 20px;
  }
}
@media (max-width: 395px) {
  .col1 {
    flex-direction: column;
  }
  .col2 {
    flex-direction: column;
  }
  .event {
    margin-top: 0px;
    height: 85vh;
  }
  .p {
    width: 90%;
  }
}

@media (max-width: 565px) {
  .col1 {
    flex-direction: column;
  }
  .col2 {
    flex-direction: column;
  }
  .event {
    margin-top: 60px;
    height: 85vh;
  }
  .p {
    width: 80%;
  }
  .date {
    height: 15vh;
    font-weight: bold;
    width: 28%;
  }
}
@media (max-width: 415px) {
  .col1 {
    flex-direction: column;
  }
  .col2 {
    flex-direction: column;
  }
  .event {
    margin-top: 50px;
    height: 85vh;
  }
  .p {
    width: 80%;
  }
  .date {
    height: 15vh;
    font-weight: bold;
    width: 28%;
  }
}
@media (max-width: 395px) {
  .col1 {
    flex-direction: column;
  }
  .col2 {
    flex-direction: column;
  }
  .event {
    margin-top: 0px;
    height: 85vh;
  }
  .p {
    width: 90%;
  }
  .date {
    height: 15vh;
    font-weight: bold;
    width: 28%;
  }
}
@media (max-width: 360px) {
  .col1 {
    flex-direction: column;
  }
  .col2 {
    flex-direction: column;
  }
  .event {
    margin-top: 70px;
    height: 145vh;
  }
  .p {
    width: 85%;
  }
  .date {
    height: 18vh;
    font-weight: bold;
    width: 28%;
  }
}
